h1 {
  color: red;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

#filter {
  display: flex;
  flex-direction: column;
}

li {
  list-style: none;
}

#productList {
  display: flex;
}
